body{
  background-image:linear-gradient(rgb(52, 52, 104), rgb(199, 45, 140));
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.searchInput{
  border: 1px solid #dadada;
  box-shadow:3px 3px 4px 3px #8a8989;
  border-radius: 30px;
  width: 400px;
  padding: 15px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
}
.searchInput:focus{
  outline: none;
}
.btn{
  border-radius: 20px!important;
  padding: 10px!important;
  box-shadow:3px 3px 3px 3px #ffffff;
  background-color: rgb(43, 159, 226);
  border: none;
}
.btn:hover, .btn:active, .btn:focus{
  background-color: rgb(43, 119, 206)!important;
  border: none;
  box-shadow:3px 3px 3px 3px #ffffff;
}
.title{
  font-family: fantasy;
}
.creator{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title-input{
  color: white;
}
.gallery{
  column-count: 2;
}
.each-photo{
  margin: 20px;
  
}
img{
  width:450px;
  height:auto;
  border-radius: 10%!important;
  box-shadow: 3px 3px 4px black;
}
@media only screen and (max-width:800px){
  img{
    width: 150px !important;
    height:auto;
  }
}